*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav img {
  width: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  display: flex;
  align-items: center;
}

span h1 {
  margin: 5px;
}

nav ul li {
  display: inline-block;
  margin: 5px;
}

.container {
  width: 100%;
  margin-inline: auto;
}

main {
  background-image: url(media/bg.gif);
  height: 100vh;
  background-size: 100% 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 5pc;
}

main h1 {
  font-family: "Nosifer", sans-serif;
}

main p {
  font-family: "Arsenal SC", sans-serif;
  font-size: 1rem;
  text-align: center;
  text-shadow: 0 0 10px black;
}

.btn button:nth-child(1) {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}

.btn button:nth-child(2) {
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}

.btn button {
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
}
@media (max-width: 1024px) {
  nav img {
    width: 100px;
  }
  main {
    height: 80vh;
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  nav img {
    width: 50px;
  }
  main {
    height: 90vh;
    font-size: 50px;
  }
}

@media (max-width: 425px) {
  nav img {
    width: 50px;
  }
  main {
    height: 90vh;
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  nav img {
    width: 40px;
  }
  main {
    height: 90vh;
    font-size: 24px;
  }
}

@media (max-width: 350px) {
  nav img {
    width: 50px;
  }

  main {
    height: 90vh;
  }
}

@media (max-width: 320px) {
  nav img {
    display: none;
  }
  main {
    height: 90vh;
    font-size: 24px;
  }
}

@media (max-width: 250px) {
  nav ul li {
    display: none;
  }

  main {
    font-size: 15px;
  }
}
